<html>
<head>
  <title>Body Count</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- <script src="https://code.jquery.com/jquery-1.10.2.js"></script> -->
</head>
<body>
  <style>
    .spacer
    {
      margin-top:5%;
    }
    .mg-btm10
    {
      margin-bottom:10px;
    }
    .nobord
    {
      border:none;
    }
  </style>
  <div class="spacer">
    </div>
  <center><h3>Body count</h3></center>
  <center><h6>Index</h6></center>
  <div class="spacer">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-5">
        </div>
        <div class="col-sm-1">
          <a href="{%url 'index' %}">Upload</a>
        </div>
        <div class="col-sm-1">
          <a href="{%url 'reports' %}">Reports</a>
        </div>
      </div>
    </div>
  <div class="spacer">
    </div>
  <div class="container col-md-7" >
  <form action = '' method='post' enctype='multipart/form-data'>
     {% csrf_token %}
<div class="col-sm-12 mg-btm10" >
  <div class="form-group">
 <label for="fileName">Choose file :</label>
 <input type="file" class="form-control nobord" id="myfile" name="myfile" required/>
 <div class="spacer">
   </div>
 <div class="form-group">
         <input type="submit" onclick="uploadFile()"class="btn btn-success col-sm-2" value="Upload" />
       </div>
 </div>
</div>
</form>
</div>



<div class="spacer">
  </div>
  {% if uploaded_file_url %}
  <div class="container">
      <div class="row">
        <div class="col-sm-6" style="overflow:hidden">
            <div clas
                    <img src="{{ uploaded_file_url }}" style="height: 100%; width: auto; object-fit: contain ;overflow: hidden;"/>
        </div>
        <div class=col-sm-6>
          <h2>Total number of people</h2>
          <h5>{{bodycount.data.total_person}}</h5>
        </div>
      </div>
  </div>


  {% endif %}
</body>
</html>
